*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background-color: pink;
}
.container{
    display: flex;
    justify-content: end;
    align-items: end;
}
h2{
    margin-top: 20px;
}
hr{
    border: 1px solid black;
}
.input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border:1px solid black;
}
#add{
    width: 100px;
    height: 30px;
    border:1px solid black;
    border-radius: 5px;
    box-shadow: none;
    background-color: yellow;
}
button:hover{
    cursor: pointer;
}
